<div data-ng-cloak>
    <md-content layout-padding="">
        <form layout="column" name="lectureForm" novalidate>
            <h1>{{lectureEditCtrl.lecture._id? 'Edit' : 'Add'}} Lecture:</h1>
            <md-input-container flex="">
                <label>Title</label>
                <input ng-model="lectureEditCtrl.lecture.title" name="title" md-maxlength="150" required>
                <ng-messages for="lectureForm.title.$error" role="alert" class="validation-messages" ng-show="lectureForm.title.$dirty">
                    <ng-message when="required">Title is required</ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container flex="">
                <label>Description</label>
                <textarea ng-model="lectureEditCtrl.lecture.description"
                          columns="1" md-maxlength="500" name="description" required></textarea>
                <ng-messages for="lectureForm.description.$error" role="alert" class="validation-messages" ng-show="lectureForm.description.$dirty">
                    <ng-message when="required">Description is required</ng-message>
                </ng-messages>
            </md-input-container>
            <md-input-container flex="">
                <label>Lecture type</label>
                <md-select ng-model="lectureEditCtrl.lecture.type">
                    <md-option ng-repeat="lectureType in lectureEditCtrl.lectureTypes" ng-value="lectureType">
                        {{lectureType}}
                    </md-option>
                </md-select>
            </md-input-container>
            <section layout="row">
                <md-button class="md-primary" ng-disabled="lectureForm.$invalid" aria-label="Submit" translate="submit" ng-click="lectureEditCtrl.submit()"></md-button>
                <md-button type="button" aria-label="Cancel" ui-sref="lectureList" translate="cancel"></md-button>
            </section>
        </form>
    </md-content>
</div>
